<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link href="/img/logo_48.png" type="image/png" rel="shortcut icon">
    <link href="/img/logo_60.png" rel="apple-touch-icon">
    <link href="/img/logo_76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/img/logo_120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/img/logo_152.png" rel="apple-touch-icon" sizes="152x152">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <header>
      <h1>Dendry</h1>
    </header>
    <section>
      {{content}}
    </section>
    <footer>
      <a href="https://github.com/dendry">github.com/dendry</a>
    </footer>
  </body>
</html>
