    <footer>

      Copyright &copy; Dendry and its Contributors. Dendry is <a
      href="https://github.com/dendry/dendry/blob/master/LICENSE">MIT
      Licensed</a>. Except where noted, this site is provided
      under the <a href="https://github.com/dendry/dendry-
      marketing/blob/master/LICENSE">Creative Commons Attribution 4
      International</a> public license. Source code is available at <a
      href="https://github.com/dendry">github.com/dendry</a>.

    </footer>
  </body>
</html>